body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin-top: 100px;
}

.container {
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

h1 {
    color: darkblue;
}

#display {
    font-size: 60px;
    margin: 20px;
    color: red;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}